:root {
  --primary-color: rgb(241, 91, 42);
  --secondary-color: rgb(249, 175, 64);
}
* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/***********************************
* Utitlity classes
***********************************/
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-white {
  color: white;
}
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}
.hidden {
  display: none !important;
}

.mb {
  margin-bottom: 20px;
}
.mt {
  margin-top: 20px;
}

/***********************************
* buit-in tags
***********************************/
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "HelveticaNeue", sans-serif;
  background-color: #222;
}

body {
  max-width: 420px;
  margin: 0 auto;
  background-color: white;
}
h2 {
  line-height: 1.2;
  font-size: 1.7em;
}

/***********************************
* common elements 
***********************************/
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.btn {
  display: block;
  border-radius: 18px;
  width: 150px;
  margin: 20px auto 0 auto;
  padding: 0.3em 0.5em;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  user-select: none;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: var(--primary-color);
  margin: 0 auto;
  color: white;
  line-height: 1.2;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/***********************************
* individual sections
***********************************/
.section {
  text-align: center;
  padding: 25px;
  min-height: 100vh;
}
.section-tnc {
  text-align: left;
}

.tnc-details {
  max-height: 70vh;
  overflow: auto;
}

.countdown, .timeup {
  width: 200px;
  height: 200px;
  margin: 20px auto 0 auto;
  position: relative;
}
.countdown svg {
  position: absolute;
  top: 0;
  left: 0;
}
.countdown svg {
  background-color: transparent;
}

.countdown svg circle {
  stroke-width: 25;
  fill: transparent;
  stroke-linecap: round;
}
.countdown svg.circle circle {
  stroke-dasharray: 500;
  animation: 8s circletimer linear;
}

.countdown .timer {
  font-size: 6em;
  font-weight: bold;
  line-height: 200px;
  color: var(--secondary-color);
}
.timeup{
    display:flex;
    align-items: center;
    justify-content: center;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    background-color: white;
  }

  body {
    background-color: #222;
    color: white;
  }

  img.header {
    border-color: rgb(47, 51, 54);
  }

  video.header {
    border-color: rgb(47, 51, 54);
  }

  .btn {
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
  }
}
*/
