:root {
    --primary-color: white;
    --secondary-color: white;
    --bg-color: #6258DE;
    --btn-color: rgb(197, 77, 218);
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/***********************************
* Utitlity classes
***********************************/
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-white {
    color: white;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.hidden {
    display: none !important;
}

.mb {
    margin-bottom: 20px;
}

.mt {
    margin-top: 20px;
}

/***********************************
* buit-in tags
***********************************/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: "HelveticaNeue", sans-serif;
    background-color: #222;
}

body {
    max-width: 420px;
    margin: 0 auto;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

h1 {
    font-size: 3em;
}

h2 {
    line-height: 1.2;
    font-size: 2.2em;
    margin: 0;
}

h3 {
    margin: 0;
}

/***********************************
* common elements 
***********************************/
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

.btn {
    display: block;
    border-radius: 18px;
    width: 170px;
    margin: 20px auto 0 auto;
    padding: 0.3em 0.5em;
    color: white;
    border: solid 2px var(--btn-color);
    background-color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    user-select: none;
}

.btn-outline {
    color: white;
    background-color: transparent;
    border: solid 2px var(--btn-color);
}

.logo {
    width: 200px;
    margin: 0 auto 20px auto;
}

.logo::after {
    content: "Your Logo Here";
}

/***********************************
* individual sections
***********************************/
.section {
    text-align: center;
    padding: 25px;
    min-height: 100vh;
}

.section-tnc {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tnc-details {
    overflow: auto;
    flex-grow: 0;
}

.section-tnc a {
    align-self: flex-end;
    flex-grow: 1;
    margin-bottom: 70px;
}


.countdown,
.timeup {
    height: 200px;
    margin: 20px auto 0 auto;
    position: relative;
}

.countdown {
    width: 200px;
}


.countdown svg {
    position: absolute;
    top: 0;
    left: 0;
}

.countdown svg {
    background-color: transparent;
}

.countdown svg circle {
    stroke-width: 25;
    fill: transparent;
    stroke-linecap: round;
}

.countdown svg.circle circle {
    stroke-dasharray: 500;
    animation: 8s circletimer linear;
}

.countdown .timer {
    font-size: 6em;
    font-weight: bold;
    line-height: 200px;
    color: var(--secondary-color);
    pointer-events: none;
}

.timeup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hearts-holder {
    pointer-events: none;
}

.hearts-holder img {
    position: fixed;
}

input[type=number] {
    border: solid 1px white;
    color: var(--primary-color);
    font-size: 10px;
}

small {
    font-size: 10px;
}

img.gif {
    width: 300px;
    height: 300px;
    user-select: none;
    transform: scale(1.2, 1.2);
    pointer-events: none;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    background-color: white;
  }

  body {
    background-color: #222;
    color: white;
  }

  img.header {
    border-color: rgb(47, 51, 54);
  }

  video.header {
    border-color: rgb(47, 51, 54);
  }

  .btn {
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
  }
}
*/
