:root {
    --btn-color: #f33;
}

* {
    box-sizing: border-box;
    color: rgb(235, 235, 235);
}

::-moz-selection {
    background: #000;
    text-shadow: none;
}

::selection {
    background: #000;
    text-shadow: none;
}

/***********************************
* Utitlity classes
***********************************/

.hidden {
    display: none !important;
}

.mb {
    margin-bottom: 20px;
}

.mt {
    margin-top: 20px;
}

/***********************************
* buit-in tags
***********************************/
html {
    font-size: 1em;
    line-height: 1.4;
    font-family: "HelveticaNeue", sans-serif;
}

body {
    max-width: 420px;
    margin: 0 auto;
    background-color: black;
    background-size: cover;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    line-height: 1.2;
    font-size: 1.8em;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 1.4em;
}

h1,
h2,
h3 {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/***********************************
* common elements 
***********************************/
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

.btn {
    display: block;
    border-radius: 18px;
    width: 200px;
    margin: 10px auto 0 auto;
    padding: 0.3em 1em;
    color: white;
    border: solid 2px var(--btn-color);
    background-color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    user-select: none;
    font-weight: bold;
}

.btn-outline {
    color: white;
    background-color: #222;
    border: solid 2px #222;
}

.logo {
    /*width: 160px;*/
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.logo::after {
    content: "Your Logo Here";
    
}

/***********************************
* individual sections
***********************************/
.section {
    position: relative;
    text-align: center;
    padding: 25px;
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.section{
    position: relative;
    z-index: 1;
}

.section-tnc {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tnc-details {
    overflow: auto;
    flex-grow: 0;
}

.section-tnc a {
    align-self: flex-end;
    flex-grow: 1;
    margin-bottom: 50px;
}


.countdown,
.timeup {
    height: 200px;
    margin: 20px auto 0 auto;
    position: relative;
}

.countdown {
    width: 200px;
    height: 200px;
}


.countdown svg {
    position: absolute;
    top: 0;
    left: 0;
}

.countdown svg {
    background-color: transparent;
}

.countdown svg circle {
    stroke-width: 25;
    fill: transparent;
    stroke-linecap: round;
}

.countdown svg.circle circle {
    stroke-dasharray: 500;
    animation: 8s circletimer linear;
}

.shake-count {
    font-size: 1.6em;
    color: #f33;
    transform: translate(0, 3px);
    margin: -1px 2px 5px;
    display: inline-block;
}

#timer-color1 {
    stop-color: rgb(55, 115, 255);
}

#timer-color2 {
    stop-color: rgb(197, 77, 218);
}

.timer {
    font-size: 5em;
    font-weight: bold;
    color: var(--secondary-color);
    pointer-events: none;
    margin-top: -200px;
    text-align: center;
    position: relative;
    line-height: 200px;
    z-index: 2;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.94, .1, .86, .46);
    animation-fill-mode: forwards;
}

.timer-small {
    font-size: 2em;
}

.timeup {
    display: flex;
    align-items: center;
    justify-content: center;
}

small {
    font-size: 10px;
}

.gif {
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 10%;
    z-index: -1;
}

@keyframes zoomin {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes zoomin2 {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

/****** CSS Overide    *************/
.btn-bottom{
    margin-top: auto;
    display: flex;
    margin-bottom: 20%;
}

.section-instruction h4{
    font-size: 1.5em;
    margin: 0;
    margin-top: 10%;
}

.section-instruction .img-phone{
    width: 150px;
    margin: 10% auto 0;
}

.btn-grp{
    flex-direction: column;
}

.cdkey{
    color: #f33;
    font-size: 18px;
}

.logo-overlay{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.24693627450980393) 32%, rgba(255,255,255,0) 93%);
}