
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=e8c51ca8-8d01-4e6a-ac45-e6ab81930753&fontids=6241524");
@font-face{
    font-family:"Avenir";
    src:url("img/avenir.woff2") format("woff2"),url("img/avenir.woff") format("woff");
}


:root {
    --btn-color: #7d3d8f;
}

* {
    box-sizing: border-box;
    color: #2f2a8b;
    font-family: Avenir, Helvetica, sans-serif;
}

::-moz-selection {
    background: #000;
    text-shadow: none;
}

::selection {
    background: #000;
    text-shadow: none;
}

/***********************************
* Utitlity classes
***********************************/

.hidden {
    display: none !important;
}

.mb {
    margin-bottom: 20px;
}

.mt {
    margin-top: 20px;
}

/***********************************
* buit-in tags
***********************************/
html {
    font-size: 1em;
    line-height: 1.4;
    font-family: "HelveticaNeue", sans-serif;
}

body {
    max-width: 420px;
    margin: 0 auto;
    background-color: white;
    background-size: cover;
    
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    line-height: 1.2;
    font-size: 1.4em;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 1.1em;
}

h1,
h2,
h3 {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/***********************************
* common elements 
***********************************/
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

.btn {
    display: block;
    border-radius: 18px;
    width: 200px;
    margin: 10px auto 0 auto;
    padding: 0.3em 1em;
    color: white;
    border: solid 2px var(--btn-color);
    background-color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    user-select: none;
    font-weight: bold;
}

.btn-outline {
    color: white;
    background-color: #222;
    border: solid 2px #222;
}

.inner h3,
.inner a {
    position: relative;
    z-index: 1;
}

/***********************************
* individual sections
***********************************/
.section {
    position: relative;
    text-align: center;
    padding: 25px;
    background-size: contain;
    background-position: 50% 100%;
}

.section .inner {
    position: relative;
}

.section-tnc {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tnc-details {
    overflow: auto;
    flex-grow: 0;
}

.section-tnc a {
    align-self: flex-end;
    flex-grow: 1;
    margin-bottom: 70px;
}


.countdown,
.timeup {
    height: 200px;
    margin: 20px auto 0 auto;
    position: relative;
}

.countdown {
    width: 200px;
    height: 200px;
}


.countdown svg {
    position: absolute;
    top: 0;
    left: 0;
}

.shake-count {
    font-size: 1.6em;
    color: #f33;
    transform: translate(0, 5px);
    margin-right: 3px;
    display: inline-block;
}

.timer {
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary-color);
    pointer-events: none;
    text-align: center;
}

.timer-small {
    font-size: 1.2em;
}

.timeup {
    display: flex;
    align-items: center;
    justify-content: center;
}

small {
    font-size: 10px;
}



@keyframes zoomin {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1.1);
        opacity: 1;
    }
}

.btn-bg {
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: zoomin;
    transform-origin: center center;
}

.section-game {
    padding: 0;
}

.game-area {
    padding-top: 20px;
    overflow: hidden;
    user-select: none;
    position: relative;
}

.arrow {
    transform-origin: 50% 0;
    position: absolute;
    left: 0;
    top: 0;
}

.obstacle {
    position: absolute;
    top: 0;
    left:0;
    display: block;
    /* border:solid 1px black; */
    /* border-radius: 100%;; */
    transform-origin: center center;
}
.timer{
    margin-top: 10px;
}
.footer{
    position: relative;
    z-index: 5;
    bottom:0;
    text-align: center;
    font-size: 0.6em;
    margin-top: -30px;
    user-select: none;
}